[Unit]
Description=BeagleBoard Set up system configuration
Requires=local-fs.target
After=local-fs.target
ConditionPathExists=/boot/firmware/sysconf.txt

[Service]
Type=oneshot
ExecStart=/usr/sbin/bbbio-set-sysconf
StandardOutput=journal+console

[Install]
RequiredBy=basic.target
